<div
  class="media-player"
  [class.overlay]="overlay"
  *ngIf="item && item.media.length"
  (click)="overlay && onClose()"
  #mediaPlayerRef
>
  <a class="close-media-player" (click)="onClose()">X</a>
  <div class="gallery-container" (click)="$event.stopPropagation()">
    <div class="grid-item item-info">
      <h2 class="semi-bold">{{ item.name }}</h2>
      <p class="description margin-bottom">
        {{ item.description }}
      </p>
      <p *ngIf="item.products" class="products margin-bottom">
        <span class="semi-bold">מוצרים: </span>
        <ng-container *ngFor="let product of item.productNames; index as i">
          <a *ngIf="item.productLinks[i]" [routerLink]="item.productLinks[i]">{{
            product
          }}</a>
          <span *ngIf="!item.productLinks[i]">{{ product }}</span>
          <span *ngIf="i < item.productNames.length - 1">, </span>
        </ng-container>
      </p>

      <p *ngIf="item.dimensions" class="dimensions margin-bottom">
        <span class="semi-bold">מידות: </span>
        {{ item.dimensions }}
      </p>

      <p *ngIf="item.duration" class="duration margin-bottom">
        <span class="semi-bold">משך הסדנה: </span>
        {{ item.duration | minuteSeconds }} שעות
      </p>

      <p *ngIf="item.price" class="price margin-bottom">
        <span class="semi-bold">מחיר: </span>
        {{ item.price }}₪
      </p>

      <div class="share-buttons margin-bottom">
        <!-- Twitter (url, text, @mention) -->
        <a
          target="_blank"
          [href]="
            'https://twitter.com/share?url=' + shareUrl + '&text=' + shareText
          "
        >
          <img
            class="link-icon margin-forward-small"
            alt="Share on Twitter"
            title="Share on Twitter"
            [src]="'twitter.png' | asset: 'icon'"
          />
        </a>

        <!-- Facebook (url) -->
        <a
          target="_blank"
          [href]="'https://www.facebook.com/sharer/sharer.php?u=' + shareUrl"
        >
          <img
            class="link-icon margin-forward-small"
            alt="Share on Facebook"
            title="Share on Facebook"
            [src]="'facebook.png' | asset: 'icon'"
          />
        </a>

        <a
          target="_blank"
          [href]="
            'https://api.whatsapp.com/send?phone=&text=' +
            shareText +
            ' %0D%0A%0D%0A' +
            shareUrl
          "
        >
          <img
            class="link-icon margin-forward-small"
            alt="Share on Whatsapp"
            title="Share on Whatsapp"
            [src]="'whatsapp.png' | asset: 'icon'"
          />
        </a>

        <a
          target="_blank"
          [href]="
            'https://t.me/share/url?url=' + shareUrl + '&text=' + shareText
          "
        >
          <img
            class="link-icon margin-forward-small"
            alt="Share on Telegram"
            title="Share on Telegram"
            [src]="'telegram.png' | asset: 'icon'"
          />
        </a>

        <a target="_blank" (click)="copyUrl()">
          <img
            class="link-icon margin-forward-small"
            alt="Copy to Clipboard"
            title="Copy to Clipboard"
            [src]="'copy.png' | asset: 'icon'"
          />
        </a>

        <span *ngIf="showClipboardCopied">הקישור הועתק ללוח!</span>
      </div>
      <div class="action-area">
        <button *ngIf="item.type === 'product'" (click)="orderNow()">
          רוצה כזה!
        </button>
      </div>
    </div>
    <div
      *ngFor="let mediaItemUrl of item.allMediaUrls; index as i"
      class="grid-item"
      [class.wide]="shouldBeWide(mediaItemUrl, i)"
      [class.tall]="shouldBeTall(mediaItemUrl, i)"
      [class.selected]="isSelected(mediaItemUrl)"
      (click)="onClick(mediaItemUrl, $event)"
    >
      <div class="video-container" *ngIf="!isPhoto(mediaItemUrl)">
        <video
          *ngIf="!isExternalVideo(mediaItemUrl)"
          id="media-player-video"
          [controls]="isSelected(mediaItemUrl)"
          muted
        >
          <source src="{{ mediaItemUrl }}" type="video/mp4" />
        </video>

        <iframe
          width="100%"
          height="100%"
          *ngIf="isSelected(mediaItemUrl) && isExternalVideo(mediaItemUrl)"
          [src]="bypassSecurityTrustResourceUrl(mediaItemUrl)"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>

        <img
          *ngIf="!isSelected(mediaItemUrl) && isExternalVideo(mediaItemUrl)"
          id="media-player-photo"
          [src]="getExternalVideoThumb(mediaItemUrl)"
        />

        <div *ngIf="!isSelected(mediaItemUrl)" class="video-overlay">►</div>
      </div>
      <img
        *ngIf="isPhoto(mediaItemUrl)"
        id="media-player-photo"
        [src]="mediaItemUrl"
      />
    </div>
  </div>
</div>
