<div class="section" id="contact">
  <div class="content-wrapper narrower"></div>

  <div class="narrower content-wrapper-columns">
    <div class="column column-with-text dark-theme contact-card">
      <h2
        *ngIf="!submitMessage && !postVcfContactUi"
        class="centered-text semi-bold"
      >
        דברו איתי
      </h2>
      <h4
        *ngIf="!submitMessage && !postVcfContactUi"
        class="handwriting centered-text centered-text margin-bottom"
      >
        אשמח לשמוע כל שאלה, בקשה או הצעה
      </h4>
      <h2
        *ngIf="!submitMessage && postVcfContactUi"
        class="handwriting centered-text centered-text margin-bottom"
      >
        איזה כיף! נעים להכיר ;)
      </h2>
      <p *ngIf="submitMessage">{{ submitMessage }}</p>
      <p *ngIf="!postVcfContactUi || submitMessage">
        <span *ngIf="submitMessage" class="margin-forward-small">
          אפשר גם בטלפון</span
        ><span *ngIf="!submitMessage" class="margin-forward-small"
          >תרימו טלפון</span
        >
        <a
          [class.margin-forward-small]="submitMessage"
          href="tel:0544480886"
          aria-label="מספר טלפון 0544480886"
          aria-describedby="מספר טלפון ליצירת קשר - 0544480886"
          alt="Phone Number - 0544480886"
          title="מספר טלפון"
          >054-4480886</a
        ><span *ngIf="submitMessage" class="margin-forward-small">או</span
        ><span *ngIf="!submitMessage" class="margin-forward-small"
          >, דברו איתי</span
        >
        <a
          target="_blank"
          href="https://api.whatsapp.com/send?phone=972544480886"
          aria-label="Whatsapp"
          aria-describedby="קישור ליצירת קשר דרך Whatsapp"
          alt="Contact us via Whatsapp"
          title="דברו איתי בוואטסאפ"
          onclick="
            return confirm('לינק זה מוביל לאתר חיצוני לאאוריקה, האם להמשיך?');
          "
          >בוואטסאפ</a
        ><span *ngIf="submitMessage">.</span
        ><span *ngIf="!submitMessage">, או שלחו לי מייל ממש כאן -</span>
      </p>
      <p *ngIf="postVcfContactUi && !submitMessage">
        <span class="margin-forward-small"
          >אשמח אם תשאירו גם לי את הפרטים שלכם -</span
        >
      </p>
      <form
        *ngIf="!submitMessage"
        id="contact-form"
        (submit)="onSubmitContactForm($event)"
      >
        <input required type="text" name="name" placeholder="שם*" />

        <input required type="phone" name="phone" placeholder="טלפון*" />

        <input type="email" name="email" placeholder="אימייל" />

        <textarea
          #contactMessage
          id="contact-form-message"
          name="message"
          [attr.placeholder]="postVcfContactUi ? '' : 'במה אוכל לעזור?'"
        ></textarea>

        <p *ngIf="submitError">{{ submitError }}</p>
        <button
          type="submit"
          id="my-form-button"
          onclick="
            return confirm('לינק זה מוביל לאתר חיצוני לאאוריקה, האם להמשיך?');
          "
        >
          שלח
        </button>
        <p id="my-form-status"></p>
      </form>
    </div>
    <div class="column">
      <img [src]="'boxes.jpg' | asset" loading="lazy" alt="" />
    </div>
  </div>
</div>
