<div class="footer-container dark-theme">
  <p class="centered-text smaller">
    אאוריקה - סדנאות יצירה בעץ (חפשו ב<a
      target="_blank"
      href="https://ul.waze.com/ul?preview_venue_id=23265605.232656050.524311"
      >ווייז</a
    >/<a
      target="_blank"
      href="https://www.google.com/maps/place/%D7%90%D7%90%D7%95%D7%A8%D7%99%D7%A7%D7%94+-+%D7%A1%D7%93%D7%A0%D7%90%D7%95%D7%AA+%D7%99%D7%A6%D7%99%D7%A8%D7%94+%D7%91%D7%A2%D7%A5%E2%80%AD/@32.4018665,35.1824917,11z/data=!4m6!3m5!1s0x151c5fb818553ba9:0xa9b3dd0f3fd4d4a1!8m2!3d32.4962894!4d35.4955696!15sChvXkNeQ15XXqNeZ16fXlCDXodeT16DXkNeV16paHSIb15DXkNeV16jXmden15Qg16HXk9eg15DXldeqkgEQaG9tZV9nb29kc19zdG9yZZoBI0NoWkRTVWhOTUc5blMwVkpRMEZuU1VOaGRWcDJhVTVCRUFF?hl=en"
      >גוגל</a
    >) | להזמנות: אור 0544480886
  </p>
  <p class="centered-text smaller">©2022 אֵאוֹרִיקָה מבית App & Beyond.</p>
  <div class="share-buttons centered-text">
    <!-- Twitter (url, text, @mention) -->
    <a target="_blank" href="https://instagram.com/aorika.workshop/">
      <img
        class="link-icon margin-forward-small"
        alt="האינסטוש של אאוריקה"
        title="האינסטוש של אאוריקה"
        [src]="'instagram1.png' | asset: 'icon'"
      />
    </a>

    <!-- Facebook (url) -->
    <a target="_blank" href="https://facebook.com/aorika.workshop">
      <img
        class="link-icon margin-forward-small"
        alt="דף הפייסבוק של אאוריקה"
        title="דף הפייסבוק של אאוריקה"
        [src]="'facebook.png' | asset: 'icon'"
      />
    </a>

    <a target="_blank" href="https://api.whatsapp.com/send?phone=972544480886">
      <img
        class="link-icon margin-forward-small"
        alt="דברו איתי בוואטסאפ"
        title="דברו איתי בוואטסאפ"
        [src]="'whatsapp.png' | asset: 'icon'"
      />
    </a>
  </div>
</div>
