<div class="navbar flex-centered dark-theme" [style.height]="height">
  <div class="nav-container">
    <a routerLink="/">
      <img
        class="aorika-logo"
        [style.height]="logoHeight"
        src="/assets/media/aorika-logo-89ccc5.svg"
        loading="lazy"
        width="99"
        alt=""
      />
    </a>
    <nav role="navigation" class="nav-menu flex-centered">
      <a routerLink="/catalog" class="nav-link">הקטלוג</a
      ><a href="/gallery" class="nav-link">גלריה</a>
    </nav>
  </div>
</div>
