<div class="navbar flex-centered dark-theme" [style.height]="height">
  <div class="nav-container">
    <a routerLink="./" id="aorika-logo-anchor">
      <img
        class="aorika-logo"
        [style.height]="logoHeight"
        [src]="'aorika-logo-89ccc5.svg' | asset"
        loading="lazy"
        width="99"
        alt=""
      />
    </a>
    <nav role="navigation" class="nav-menu flex-centered">
      <a
        routerLink="/catalog"
        [class.selected]="isSelected('catalog')"
        class="nav-link"
        alt="Link to Catalog page"
        title="קטלוג המוצרים"
        aria-label="קטלוג המוצרים"
        aria-describedby="קישור לקטלוג המוצרים של אאוריקה"
        >הקטלוג</a
      ><a
        href="/gallery"
        [class.selected]="isSelected('gallery')"
        class="nav-link"
        alt="Link to Gallery page"
        title="גלרית התמונות"
        aria-label="גלרית התמונות"
        aria-describedby="קישור לגלרית התמונות של אאוריקה"
        >גלריה</a
      >
      <a
        href="/groups"
        [class.selected]="isSelected('groups')"
        class="nav-link"
        alt="Link to Gallery page"
        title="קטלוג הסדנאות הקבוצתיות"
        aria-label="קטלוג הסדנאות הקבוצתיות"
        aria-describedby="קישור לקטלוג הסדנאות הקבוצתיות של אאוריקה"
        ><span *ngIf="!isMobile()">סדנאות ל</span>קבוצות</a
      >
    </nav>
  </div>
</div>
