@use "variables" as v;

.navbar {
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  transition: height 0.3s;
  background-color: rgba(0, 0, 0, 0.49);

  .nav-container {
    width: v.$content-width;
    display: flex;
    justify-content: space-between;

    .aorika-logo {
      transition: height 0.3s;
    }

    .nav-menu {
      flex: 1;

      .nav-link {
        padding: 10px 20px;

        @include v.xs-screen {
          padding: 10px;
        }

        &.selected:not(:hover),
        &.selected:not(:hover) span {
          color: v.$or-green;
        }
      }
    }
  }
}
