@use "variables" as v;

.workshop-card {
  cursor: pointer;
  width: 300px;
  background-color: v.$or-white;
  transition: outline 0.2s;

  &:hover {
    outline: 3px solid v.$or-black;
  }

  .workshop-image {
    height: 150px;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .workshop-details {
    height: 100px;
    width: 100%;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;

    .card-description {
      font-size: 24px;
      // text-align: center;
    }

    .card-products {
      font-size: 20px;
    }
  }
}
