<div
  [attr.data-poster-url]="'aorika-background-poster' | asset"
  class="background-video dark-theme"
  (click)="playVideoIfMobile()"
>
  <video
    id="main-background-video"
    [autoplay]="!isMobile()"
    loop="loop"
    (pause)="onPause()"
  >
    <source
      [src]="'videos/aorika-background-1080-10fps-mp4.mp4' | asset: 'video'"
    />
    <source
      [src]="'videos/aorika-background-1080-10fps.webm' | asset: 'video'"
    />
  </video>
  <div class="hero-container flex-centered">
    <h1 class="hero-heading bold">אאוריקה</h1>
    <h2 class="hero-heading-2 regular">סדנאות יצירה בעץ</h2>
  </div>
</div>

<div class="section green-section" id="about">
  <div class="narrower content-wrapper-columns">
    <div class="column column-with-text dark-theme">
      <div class="sub-column-narrower">
        <h2 class="centered-text semi-bold green margin-bottom-small">
          אאורי-מה?!
        </h2>
        <p>
          היי, זאת אני - אור מאֵ<strong class="semi-bold">אוֹרִ</strong>יקָה
          ואני מזמינה אתכם אליי לכמה שעות של יצירה, זמן איכות ולמידה עם המסור,
          המקדחה וקפה טוב :)<br />מחכה לכם!
        </p>
      </div>
    </div>
    <div class="column image-column">
      <img [src]="'aori-what-bw.jpg' | asset" loading="lazy" alt="" />
    </div>
  </div>
</div>

<div class="section" id="catalog">
  <div class="content-wrapper narrower">
    <h2 class="semi-bold">הקטלוג שלנו</h2>
    <h4 class="handwriting centered-text margin-bottom">
      הנה כמה דוגמאות למוצרים שתוכלו לבנות אצלנו.
    </h4>
    <div class="catalog-wrapper sample-products">
      <app-product-card
        *ngFor="let product of sampleProducts"
        [product]="product"
      ></app-product-card>
    </div>
  </div>
  <div class="button-holder flex-centered">
    <button routerLink="/catalog">לקטלוג המלא</button>
  </div>
</div>

<div class="section green-section" id="gallery">
  <div class="content-wrapper narrower">
    <h2 class="semi-bold">הגלריה</h2>
    <h4 class="handwriting centered-text margin-bottom">
      רוצים לראות את הקסם מקרוב? הנה הצצה לכמה מהסדנאות שערכנו.
    </h4>
    <div class="gallery-wrapper sample-images margin-bottom gallery-grid">
      <app-workshop-card
        *ngFor="let workshop of sampleWorkshops"
        [workshop]="workshop"
      ></app-workshop-card>
    </div>
  </div>
  <div class="button-holder flex-centered">
    <button class="secondary" routerLink="/gallery">לגלריה</button>
  </div>
</div>

<div class="section" id="contact">
  <div class="content-wrapper narrower"></div>

  <div class="narrower content-wrapper-columns">
    <div class="column column-with-text dark-theme contact-card">
      <!-- <div class="sub-column-narrower contact-card"> -->
      <h2 class="centered-text semi-bold">דברו איתי</h2>
      <h4 class="handwriting centered-text centered-text margin-bottom">
        אשמח לשמוע כל שאלה, בקשה או הצעה
      </h4>
      <p *ngIf="submitMessage">{{ submitMessage }}</p>
      <p>
        <span *ngIf="submitMessage" class="margin-forward-small">
          אפשר גם בטלפון</span
        ><span *ngIf="!submitMessage" class="margin-forward-small"
          >תרימו טלפון</span
        >
        <a
          [class.margin-forward-small]="submitMessage"
          href="tel:0544480886"
          aria-label="מספר טלפון 0544480886"
          aria-describedby="מספר טלפון ליצירת קשר - 0544480886"
          alt="Phone Number - 0544480886"
          title="מספר טלפון"
          >054-4480886</a
        ><span *ngIf="submitMessage" class="margin-forward-small">או</span
        ><span *ngIf="!submitMessage" class="margin-forward-small"
          >, דברו איתי</span
        >
        <a
          target="_blank"
          href="https://api.whatsapp.com/send?phone=972544480886"
          aria-label="Whatsapp"
          aria-describedby="קישור ליצירת קשר דרך Whatsapp"
          alt="Contact us via Whatsapp"
          title="דברו איתי בוואטסאפ"
          onclick="return confirm('לינק זה מוביל לאתר חיצוני לאאוריקה, האם להמשיך?')"
          >בוואטסאפ</a
        ><span *ngIf="submitMessage">.</span
        ><span *ngIf="!submitMessage">, או שלחו לי מייל ממש כאן -</span>
      </p>
      <!-- <div class="submit-message-wrapper">
        <p *ngIf="submitMessage">{{ submitMessage }}</p>
      </div> -->
      <form
        *ngIf="!submitMessage"
        id="contact-form"
        (submit)="onSubmitContactForm($event)"
      >
        <!-- <label>איך קוראים לך?</label> -->
        <input required type="text" name="name" placeholder="שם*" />

        <!-- <label>מספר טלפון</label> -->
        <input required type="phone" name="phone" placeholder="טלפון*" />

        <!-- <label>אימייל</label> -->
        <input type="email" name="email" placeholder="אימייל" />

        <!-- <label>במה אוכל לעזור?</label> -->
        <textarea
          id="contact-form-message"
          name="message"
          placeholder="במה אוכל לעזור?"
        ></textarea>

        <p *ngIf="submitError">{{ submitError }}</p>
        <button
          type="submit"
          id="my-form-button"
          onclick="return confirm('לינק זה מוביל לאתר חיצוני לאאוריקה, האם להמשיך?')"
        >
          שלח
        </button>
        <p id="my-form-status"></p>
      </form>
      <!-- </div> -->
    </div>
    <div class="column">
      <img [src]="'boxes.jpg' | asset" loading="lazy" alt="" />
    </div>
  </div>
</div>
