<a class="product-card" (click)="onClick($event)" href="#">
  <div class="product-image">
    <img [src]="product.coverImageUrl" />
  </div>
  <div class="product-details">
    <h2>{{ product.name }}</h2>
    <p class="margin-bottom">{{ product.description }}</p>
    <p *ngIf="product?.duration" class="price margin-bottom">
      <span class="semi-bold">משך הסדנה: </span>
      {{ product.duration | minuteSeconds }} שעות
    </p>
    <p *ngIf="product?.price" class="price margin-bottom">
      <span class="semi-bold">מחיר: </span>
      {{ product?.price }}₪
      <span title="קבוצה גדולה: 20+ משתתפים" *ngIf="product?.groupPrice"
        >(לקבוצות<span class="green">*</span>: {{ product?.groupPrice }}₪)
      </span>
    </p>
  </div>
</a>
