<div class="section lower-than-header" id="catalog-section">
  <div class="content-wrapper narrower">
    <h2 class="semi-bold">הקטלוג שלנו</h2>
    <h4 class="handwriting margin-bottom">
      לחצו על המוצר הרצוי לצפיה בתמונות נוספות.
    </h4>
    <div class="catalog-wrapper sample-products">
      <app-product-card
        *ngFor="let product of products"
        [product]="product"
        [id]="product.key"
      ></app-product-card>
    </div>
    <h4 class="handwriting margin-bottom">
      לא מצאתם את מה שרציתם?
      <a routerLink="/contact">דברו איתי</a> ונחשוב על משהו ביחד
    </h4>
  </div>
</div>
