<div class="section lower-than-header" id="accessibility">
  <h1>הצהרת נגישות</h1>
  <article>
    <section>
      <p>
        אֵאוֹרִיקָה מבית App & Beyond נוקטת את מירב המאמצים על מנת לספק לכל
        לקוחותיה את האתר באופן מכובד, נגיש ומקצועי. בהתאם לחוק שוויון זכויות
        לאנשים עם מוגבלויות תשנ"ח-1998 ולתקנות שהותקנו מכוחו, הושקע מאמץ רב
        בביצוע התאמות הנגישות הנדרשות שיביאו לכך שאדם בעל מוגבלות יוכל לקבל מידע
        ולבצע פעולות באתר, באופן עצמאי ושוויוני.
      </p>
      <p>
        באם נתקלתם בקושי בקבלת מידע או ביצוע פעולה באתר אאוריקה, נשמח לתת לכם
        שירות אישי נגיש ומותאם עבורכם בדרכי יצירת הקשר המפורטים בהמשך.
      </p>
      <h3>מידע על נגישות האתר</h3>
      <ol>
        <li>
          אתר זה עומד בדרישות תקנות שוויון זכויות לאנשים עם מוגבלות (התאמות
          נגישות לשירות), התשע"ח - 2017
        </li>
        <li>
          התאמות הנגישות בוצעו עפ"י המלצות התקן הישראלי (ת"י 5568) לנגישות תכנים
          באינטרנט ברמת AA ומסמך WCAG2.0 הבינלאומי.
        </li>
        <li>הבדיקות נבחנו לתאימות הגבוהה ביותר עבור דפדפני Chrome ו-Brave.</li>
        <li>
          האתר מספק מבנה סמנטי עבור טכנולוגיות מסייעות ותמיכה בדפוס השימוש
          המקובל להפעלה עם מקלדת בעזרת מקשי החיצים, Tab למעבר בין קישורים
          ופקדים, Enter לאישור ולכניסה לקישורים וחלונות ו- Esc ליציאה מתפריטים
          ומחלונות וחלונות. כמו כן ניתן לחזור לראש הדף על ידי לחיצה על alt+h.
        </li>
        <li>האתר מותאם לתצוגה בדפדפנים הנפוצים ולשימוש בטלפון הסלואלרי.</li>
        <li>האתר הותאם לגלישה בעזרת תוכנת הקראת מסך.</li>
      </ol>
      <h3>הסדרי נגישות מבנים</h3>
      <p>
        סדנת אאוריקה נגישה לכניסת ופעילות אנשים עם מוגבלויות. נשמח שתיצרו איתנו
        קשר (הפרטים בהמשך הדף) ונוכל לפרט ולהרחיב בנושא באופן המותאם ביותר
        עבורכם.
      </p>
      <h3>דרכי פנייה לבקשות והצעות לשיפור בנושא נגישות</h3>
      <p>
        יש לציין כי אנו ממשיכים במאמצים לשפר את נגישות האתר והסדנה כחלק
        ממחויבותנו לאפשר לכלל האוכלוסייה כולל אנשים עם מוגבלויות לקבל את השרות
        הנגיש והמהנה ביותר.
      </p>
      <p>
        במידה ונתקלת בשאלה, בעיה או בתקלה כלשהי בנושא הנגישות, נשמח שתעדכן אותנו
        בכך ואנו נעשה כל מאמץ למצוא עבורך פתרון מתאים ולטפל בתקלה בהקדם ככל
        שניתן.
      </p>
      <ul>
        <li>רכז הנגישות באאוריקה: דוד</li>
        <li>
          טלפון -
          <a
            href="tel:0528717475"
            aria-label="מספר טלפון 0528717475"
            aria-describedby="מספר טלפון ליצירת קשר - 0528717475"
            alt="Phone Number - 0528717475"
            title="מספר טלפון"
            >052-8717475</a
          >
        </li>
        <li>
          דואר אלקטרוני –
          <a
            href="mailto:aorika@appandbeyond.com"
            alt="Aorika Email address"
            title="כתובת המייל שלנו"
            aria-label="כתובת דואר אלקטרוני - aorika@appandbeyond.com"
            aria-describedby="כתובת דואר אלקטרוני של אאוריקה"
            >aorika@appandbeyond.com</a
          >
        </li>
        <li>
          פניה באמצעות "צור קשר" באתר: <br />
          <a
            href="/contact"
            alt="Link to contact form"
            title="קישור לטופס יצירת קשר"
            aria-label="יצירת קשר"
            aria-describedby="קישור לטופס יצירת קשר"
            >https://www.aorika.co.il/contact</a
          >
        </li>
      </ul>

      <br />
      <p class="semi-bold">עודכן לאחרונה באוקטובר 2022.</p>
    </section>
  </article>
</div>
