/* You can add global styles to this file, and also import other style files */

@use "variables" as v;

body {
  direction: v.$app-direction;
  margin: 0;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
