@mixin font-geveret-levin {
  @font-face {
    font-family: geveretLevin;
    src: url("https://res.cloudinary.com/d3d/raw/upload/Aorika/fonts/geveret-levin/gveret-levin-alef-alef-alef-regular.woff2");
  }

  @font-face {
    font-family: geveretLevin;
    src: url("https://res.cloudinary.com/d3d/raw/upload/Aorika/fonts/geveret-levin/gveret-levin-alef-alef-alef-regular.eot");
  }

  @font-face {
    font-family: geveretLevin;
    src: url("https://res.cloudinary.com/d3d/raw/upload/Aorika/fonts/geveret-levin/gveret-levin-alef-alef-alef-regular.ttf");
  }
}
